#map {
    width: 800px;
    height: 650px;
    border-radius: 25px;
    border: 2px solid #689ed2;
    padding: 20px;
}



.slidecontainer {
  width: 100%; /* Width of the outside container */
}

#content {
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
}


svg {
    overflow: visible !important;
}


.side-bar-item {
    border-radius: 25px;
    border: 2px solid #689ed2;
    padding: 15px;
    margin-bottom: 15px;
    background-color: ghostwhite;
}

.pickup-dates-container {

}

.slider-dates-container {
    pointer-events: none;
    opacity: 0.5;
}
