#map {
  width: 800px;
  height: 600px;
}

#legend {
    align-items: center;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

#content {
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
}

.legend-button {
    font-weight:"bold";
}
.legend-item-symb {
    text-align: center;
}

.legend-item-text {
    /*text-align: center;*/
}

svg {
    overflow: visible !important;
}
