html, body {
  height: 100%;
}

#map {
    /*width: 800px;*/
    height: 650px;
    border-radius: 25px;
    border: 2px solid #689ed2;
    padding: 20px;
}



.slidecontainer {
  width: 100%; /* Width of the outside container */
}

#content {
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
}


svg {
    overflow: visible !important;
}

.side-bar-container {
    height: 100%
}
.side-bar-item {
    border-radius: 25px;
    border: 2px solid #689ed2;
    padding: 15px;
    margin-bottom: 15px;
    background-color: ghostwhite;
}

.pickup-dates-container {

}

.slider-dates-container {
    pointer-events: none;
    opacity: 0.5;
height: 36%;
}

.current-date-title {
    text-align: center;
    padding: 4%;

}

.dropdown-time-scale {
    padding: 2%;
}


.load-data-button {
    padding: 2%;
}

#submit-dates {
    font-size: medium;
}

.title {
    padding: 2%;
}

#legend-content {
    text-align: center;
}

#legend {
    height: 100%;
}

#chart {
    width: 96%;
    padding: 2%;
}

.svgLegend {
    width: 4%;
}

.legend-item-symbol {
    text-align: center;
    font-weight: bold;
    fill: #000000;
    height: 15%;
    width: 10%;
}