.minor circle{
    fill:#d9ef8b;
    size:6px;
    opacity:1;
    stroke: black;
    z-index: 5;
    r:6;

}

.light circle{
    fill:#fee08b;
    size: 10px;
    opacity:1;
    stroke: black;
    z-index: 4;
    r:10;
}

.moderate circle{
    fill: #fdae61;
    size:18px;
    opacity: 1;
    stroke: black;
        z-index: 3;
        r:18;
}

.strong circle{
    fill:#f46d43;
    size:30px;
    opacity:1;
    stroke: black;
        z-index: 2;
        r:30;
}

.major circle{
    fill:#d73027;
    size:46px;
    opacity:1;
    stroke: black;
        z-index: 1;
        r:46;
}

.great circle{
    fill:#a50026;
    size:66px;
    opacity:1;
    stroke: black;
    z-index: 0;
        r:66;
}


g {
    display:none
}

/*circle {*/
/*  animation: bounce 1s;*/
/*}*/

/*@keyframes bounce {*/
/*  100% {*/
/*    transform: scale(1);*/
/*  }*/
/*  !*50% {*!*/
/*  !*  transform: scale(0.5);*!*/
/*  !*}*!*/
/*  0% {*/
/*    transform: scale(0.1);*/
/*  }*/
/*}*/