.minor circle{
    fill:#d9ef8b;
    /*opacity:1;*/
    stroke: black;
    r:5;
}

.light circle{
    fill:#fee08b;
    /*opacity:1;*/
    stroke: black;
    r:12;
}

.moderate circle{
    fill: #fdae61;
    /*opacity: 1;*/
    stroke: black;
    r:24;
}

.strong circle{
    fill:#f46d43;
    /*opacity:1;*/
    stroke: black;
    r:30;
}

.major circle{
    fill:#d73027;
    /*opacity:1;*/
    stroke: black;
    r:40;
}

.great circle{
    fill:#a50026;
    /*opacity:1;*/
    stroke: black;
    r:50;
}

.hidden {
    opacity:0;
}

.displayed {
    opacity:1;
}


.pulsating {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
     0% {
        opacity: 0;
     }
     100% {
        opacity: 1;
     }
}


/*g {*/
/*    display:none*/
/*}*/

.map_legend {
    border-radius: 25px;
    padding: 10px;
    width: 35%;
}

.map_legend text {
    fill: #000000;
}